In [1]:
import numpy as np
import pandas as pd

## Data Preparation

#### to transform pdf to csv https://www.zamzar.com/convert/pdf-to-csv/

In [2]:
data = pd.read_csv("data.csv")
data.head(n=60)

,(All),id_produit,catégorie,prix,weight_g,length_cm,height_cm,width_cm,(All).1,mois,trimestre,annee,moyenne chiffre d'affaire,chiffre d'affaire,nombre de ventes,Unnamed: 15
0,All Produits,1.0,perfumery,287.0,225.0,16.0,10.0,14.0,All Dates,1.0,1.0,2018,"1 387,167",16 646,12.0,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1 722,17 220,10.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2018,"1 757,875",14 063,8.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 578,5",15 785,10.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2018,"1 607,2",8 036,5.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 894,2",18 942,10.0,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2018,2 296,2 296,1.0,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 004,5",2 009,2.0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,2018,1 722,20 664,12.0,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 179,889",10 619,9.0,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,2017,"1 690,111",15 211,9.0,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 578,5",9 471,6.0,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1 763,12 341,7.0,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,2017,"1 513,273",16 646,11.0,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 779,4",8 897,5.0,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"975,8",4 879,5.0,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2017,287,287,1.0,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 626,333",4 879,3.0,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3.0,2017,"1 243,667",11 193,9.0,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 757,875",14 063,8.0,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1 804,25 256,14.0,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,2017,"1 052,333",6 314,6.0,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 243,667",14 924,12.0,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1 148,9 184,8.0,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,2017,1 148,3 444,3.0,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"358,75",1 435,4.0,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 112,125",8 897,8.0,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2017,574,1 148,2.0,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 913,333",5 740,3.0,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,4.0,2017,"1 496,5",20 951,14.0,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 492,4",7 462,5.0,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 565,455",17 220,11.0,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,4.0,2017,1 722,8 610,5.0,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"975,8",9 758,10.0,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 695,909",18 655,11.0,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,1.0,2017,574,574,1.0,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,1 722,3 444,2.0,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2017,"1 578,5",18 942,12.0,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 463,7",14 637,10.0,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"2 104,667",6 314,3.0,NaN
42,NaN,2.0,art,276.0,1000.0,30.0,18.0,20.0,All Dates,1.0,1.0,2018,"1 328,25",21 252,16.0,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1 725,13 800,8.0,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2018,1 288,15 456,12.0,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1 472,17 664,12.0,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2018,"1 349,333",12 144,9.0,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 165,333",10 488,9.0,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2018,1 932,3 864,2.0,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1 564,4 692,3.0,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,2018,"1 507,385",19 596,13.0,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 131,6",11 316,10.0,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,2017,"1 343,2",20 148,15.0,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"1 628,4",16 284,10.0,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 431,75",22 908,16.0,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,2017,1 633,19 596,12.0,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"662,4",3 312,5.0,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 414,5",11 316,8.0,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2017,1 104,1 104,1.0,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,1 288,3 864,3.0,NaN

In [3]:
data=data.drop("(All)",axis=1)
data=data.drop("(All).1",axis=1)
data=data.drop("Unnamed: 15",axis=1)
data

,id_produit,catégorie,prix,weight_g,length_cm,height_cm,width_cm,mois,trimestre,annee,moyenne chiffre d'affaire,chiffre d'affaire,nombre de ventes
0,1.0,perfumery,287.0,225.0,16.0,10.0,14.0,1.0,1.0,2018,"1 387,167",16 646,12.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1 722,17 220,10.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2018,"1 757,875",14 063,8.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,"1 578,5",15 785,10.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2018,"1 607,2",8 036,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,1.0,2017,NaN,NaN,NaN
2978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,14 511,14 511,1.0
2979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2017,"10 986,9",109 869,10.0
2980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,"11 684,182",128 526,11.0
2981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,18 657,37 314,2.0

In [4]:
prepr = data.to_numpy()

In [5]:
for k in range(13):
    i=0
    if k not in [1,10,11,12]:
        for j in prepr[:,k]:
            if np.isnan(j):
                prepr[:,k][i] = prepr[:,k][i-1]

            i = i + 1
            
    if k == 1:
        for i in range(len(prepr[:,1])):
            try:
                x=len(prepr[:,k][i])
            except:
                prepr[:,k][i] = prepr[:,k][i-1]
                
    if k == 10 or k == 11:
        for i in range(len(prepr[:,1])):
            try:
                x=len(prepr[:,k][i])
            except:
                prepr[:,k][i] = '0'
    
    if k == 12:
        for i in range(len(prepr[:,1])):
            if np.isnan(prepr[:,k][i]):
                prepr[:,k][i] = '0'

In [6]:
data = pd.DataFrame(data=prepr,columns=["id_produit","catégorie","prix","weight_g","length_cm","height_cm","width_cm","mois","trimestre","annee","moyenne chiffre d'affaire","chiffre d'affaire","nombre de ventes"])
data

,id_produit,catégorie,prix,weight_g,length_cm,height_cm,width_cm,mois,trimestre,annee,moyenne chiffre d'affaire,chiffre d'affaire,nombre de ventes
0,1,perfumery,287,225,16,10,14,1,1,2018,"1 387,167",16 646,12
1,1,perfumery,287,225,16,10,14,1,1,2019,1 722,17 220,10
2,1,perfumery,287,225,16,10,14,2,1,2018,"1 757,875",14 063,8
3,1,perfumery,287,225,16,10,14,2,1,2019,"1 578,5",15 785,10
4,1,perfumery,287,225,16,10,14,3,1,2018,"1 607,2",8 036,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2977,71,furniture_mattress_and_upholstery,2073,1850,41,21,21,12,1,2017,0,0,0
2978,71,furniture_mattress_and_upholstery,2073,1850,41,21,21,12,1,2018,14 511,14 511,1
2979,71,furniture_mattress_and_upholstery,2073,1850,41,21,21,12,4,2017,"10 986,9",109 869,10
2980,71,furniture_mattress_and_upholstery,2073,1850,41,21,21,12,4,2018,"11 684,182",128 526,11
2981,71,furniture_mattress_and_upholstery,2073,1850,41,21,21,12,4,2019,18 657,37 314,2

In [7]:
data.to_csv(r'new_data.csv', index = True)

## Importing the dataset

In [8]:
X  = np.array(data[['prix', 'weight_g', 'length_cm', 'height_cm','width_cm', 'mois', 'trimestre', 'annee']])
y  = np.array(data["nombre de ventes"]).astype('int')

## Splitting the dataset into the Training set and Test set

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Feature Scaling

In [10]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

## Random Forest (Regression)

In [11]:
from sklearn.ensemble import RandomForestRegressor

clf1 = RandomForestRegressor(n_estimators = 1000, random_state = 42)
clf1.fit(X_train, y_train)


sum = 0
for x_p,y_p in zip(X_train, y_train):
    sum = sum + abs(clf1.predict([x_p])-y_p)
    
print("Erreur d'apprentissage:",(sum/np.sum(y_train)*100)[0], "%")

sum = 0
for x_p,y_p in zip(X_test,y_test):
    sum = sum + abs((clf1.predict([x_p])-y_p))
    
print("Erreur validation: ", (sum/np.sum(y_test)*100)[0], "%")

Erreur d'apprentissage: 0.22511988830070952 %
Erreur validation:  1.3227972339950913 %

## SVR (Regression)

In [12]:
from sklearn.svm import SVR

clf2 = SVR()
clf2.fit(X_train, y_train)


sum = 0
for x_p,y_p in zip(X_train, y_train):
    sum = sum + abs(clf2.predict([x_p])-y_p)
    
print("Erreur d'apprentissage:",(sum/np.sum(y_train)*100)[0], "%")

sum = 0
for x_p,y_p in zip(X_test,y_test):
    sum = sum + abs((clf2.predict([x_p])-y_p))
    
print("Erreur validation: ", (sum/np.sum(y_test)*100)[0], "%")

Erreur d'apprentissage: 3.2756957626725787 %
Erreur validation:  3.621858797385196 %

## KNN (Approchement)

In [13]:
from sklearn.neighbors import KNeighborsClassifier

clf3 = KNeighborsClassifier(n_neighbors=1)
clf3.fit(X_train, y_train)


sum = 0
for x_p,y_p in zip(X_train, y_train):
    sum = sum + abs(clf3.predict([x_p])-y_p)
    
print("Erreur d'apprentissage:",(sum/np.sum(y_train)*100)[0], "%")

sum = 0
for x_p,y_p in zip(X_test,y_test):
    sum = sum + abs((clf3.predict([x_p])-y_p))
    
print("Erreur validation: ", (sum/np.sum(y_test)*100)[0], "%")

Erreur d'apprentissage: 0.0 %
Erreur validation:  8.304934195058992 %